*{
    margin: 0px;
    padding: 0ox;
}

body{
    background-color:#fefdfa;
    overflow-x: hidden;
    margin: 0;
    padding-bottom: 0rem;
    max-width: 100%;
}
.mobile_view{
    min-height: 100vh;
    position: relative;
    padding-bottom: 2.5rem;
    margin-top: 60px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    font-family: "medium-content-sans-serif-font", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    background-color: brown;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    font-family:'EB Garamond';
    text-shadow: 3px 3px rgb(41, 41, 41);
}

.nav-links{
    display: flex;
    text-transform: initial;
    justify-content: space-around;
    width: 45%;
}
.nav-links li {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.nav-links a:hover{
    color:#cccccc;
    font-weight:bold;
    font-size: 18px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color:black;
}

.text>a{
    font-weight: normal;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.burger{
    display: none;
}

.burger div{
    width: 22px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}
.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 20px;
    margin: 20px;
    text-align: left;
    /*font-family: Arial, Helvetica,sans-serif;*/
    font-family: "medium-content-sans-serif-font", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 20px;
}
.wrapper_other{
    display: flex;
    padding: 1em;
    margin: 1em;
    text-align: left;
    font-family: "medium-content-sans-serif-font", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 20px;
}
.pp{
    align-items: center;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    background-size: contain;
    width: 100%;
}
.contact_box{
    background-color:#f5f4f4;
    text-align: center;
    padding: 1rem;
}

.publication_topics{
    display: block;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
}
.contact_info{
    padding: 1rem;
    width: 350px;
}
.image {
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#research_pic{
    position: relative;
    width: 80%;
    padding: 20px;
}

#research_pic:hover .image {
    opacity: 0.3;
}
  
#research_pic:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #9c3100;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 10%;
}
.research_topics{
    text-align: left;
    padding: 1em;
    margin: 1em;
}
.ultrasonic_background{
    display: grid;
    grid-template-columns: 60% 40%;
}
.HTC{
    display: grid;
    grid-template-columns: 60% 40%;
}
.image_osg{
    padding: 20px;
}
#more {display: none;}
#myBtn{
    color:brown;
    border-radius: 10%;
    background-color: cornsilk;
    cursor: pointer;
}
#myBtn:hover{
    opacity: 0.7;
}

.animation{
    width: 100%;
    padding-left: 2rem ;
}
.image_animation{
    padding:2px;
    width: 100%;
}
.heading_photography{
    padding: 2px;
	font-size: 20px;
}
.wrapper_other_photography{
    display: block;
    padding: 1em;
    margin: 1em;
    text-align: left;
    font-family: "medium-content-sans-serif-font", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 20px;
}
@media screen and (max-width:1500px){
    .nav-links{
        width: 60%;
    }
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .ultrasonic_background{
        display: grid;
        grid-template-columns: 1fr;
    }


}

@media screen and (max-width:760px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 8vh;
        background-color: brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links a{
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 16px;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
    .headshot {
        max-width: 50%;
        height: auto;
        left: 0em;
        padding: 10px;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 1em;
        text-align: justify;
    }
    .wrapper>.contact_info {
        grid-column: 1; /* NEW */
        grid-row: 1;
        width: 100%;
    }
    .wrapper_other{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2px;
        margin: 2px;
        grid-row-gap: 1em;
        text-align: justify;
        margin-top: 0em;
        max-width: 100%;
    }
    .ultrasonic_background{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .publication_topics{
        font-size: 14px;
    }
    
    .image_animation{
        height: 400 px;
        max-width: 100%;
    }
    .HTC{
        display: grid;
        grid-template-columns: 1fr;
    }
    .items{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 50px;
    }
    .image{
        width: 100%;
        padding: 20px;
    }
    .fa {
        margin: 0px 2px 2px;
    }
    #icon_google_scholar{
        margin: 0px 2px 2px;
    }
    #icon_researchgate{
        margin: 0px 2px 2px;
    }
    #icon_academia{
        position: relative;
        top: 3em;
        /*<a href="https://un-lincoln.academia.edu/ShowmicIslam" target="_blank" id="icon_academia"><i
                            class="ai ai-academia ai-lg"></i></a>*/
    }
    .professional_link_icon{
        position: relative;
        padding: 1em;
    }
    .mobile_view{
        max-width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .myImg{
        width: 200px;
        height: 200px;
    }
    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

/*social media links */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 28px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 20%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: white;
    background: #3B5998;
  }
  .fa-github {
    background: rgb(223, 221, 221);
    color: black;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube-play {
    color: white;
    background: #bb0000;
  }

/*social media links */
#scholar{   
   position: relative;
   top: 20px;
   left: 2px;
   right: 20px;
}
#scholar:hover{
    opacity: 0.7;
}
#icon_google_scholar{
    padding:20px;
    margin: 0px 10px 5px;
    border-radius: 20%;
    color: white;
    font-size: 20px;
    background-color: #55ACEE;
    width: 30px;
}
#icon_google_scholar:hover{
    opacity: 0.7;
}
#icon_academia{
    padding:20px;
    margin: 5px 10px;
    border-radius: 20%;
    color:black;
    font-size: 20px;
    background-color: rgb(223, 221, 221);
    width: 28px;
}
#icon_academia:hover{
    opacity: 0.7;
}
#icon_researchgate{
    padding:20px;
    margin: 5px 10px;
    border-radius: 20%;
    color:white;
    font-size: 20px;
    background-color: rgb(8, 189, 180);
}
#icon_researchgate:hover{
    opacity: 0.7;
}

.ia:hover{
    opacity: 0.7;
}

/*photography links */

.myImg {
    border-radius: 10%;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
/*photography links */

footer{
    position: absolute;
    bottom: 0;
    margin-top: 1rem;
    padding: 1rem;
    width:100%;
    left: 0;
    color:#ffffff;
    background-color:rgb(136, 35, 35);
    text-align: center;
  }
